﻿<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />

<button class="btn btn-primary">Home</button>
<div ui-view>


</div>
<script type="text/javascript" src="~/Scripts/angular.js"></script>
<script type="text/javascript" src="~/Scripts/angular-ui-router.js"></script>
<script type="text/javascript" src="~/Scripts/CustomScripts/app.js"></script>
@*<script type="text/javascript" src="~/Scripts/CustomScripts/Employees/employeeHomeController.js"></script>*@




